body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1e1e1e;
  color: white;
}

.loader {
  position: absolute;
  top: 20rem;
  left: 10rem;
}

@media only screen and (min-width: 780px) {
  .loader {
    position: absolute;
    top: 20rem;
    left: 45rem;
  }
}
